html, body {
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden; /* Prevent scrollbars */
}

.image-container {
    position: fixed; /* Keep the image fixed */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Stretch to full viewport */
    z-index: -1; /* Keep the image behind everything */
    height: 90vh;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    min-height: 8vh;
    width: 100vw;
    position: relative; /* Position relative for z-index */
    z-index: 1; /* Bring navbar above the image */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

.navbar li {
    margin: 0 1rem; 
}

.navbar a {
    text-decoration: underline;
    color: black;
    padding: 1vh;
    text-align: center;
    font-family: fantasy;
    font-size: 5vh;
    display: block;
}

.navbar a:hover {
    background-color: gray; 
}

.code-container {
    float: left;
    height: 80vh;
    width: 120vh;
    margin-bottom: 15px;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15vh;
  }
.code-container p{
    text-decoration: none;
    font-weight: bold;
    color:white;
    padding: 1vh;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
}

